= form_for(link) do |f|
  - if link.errors.any?
    #error_explanation
      %h2
        = pluralize(link.errors.count, "error")
        prohibited this link from being saved:
      %ul
        - link.errors.full_messages.each do |message|
          %li= message

  = f.label :url
  = f.text_field :url

  = f.label :expire_in
  = f.text_field :expire_in
  %em= translation('form.expire_in')

  .actions
    = f.submit
